extends layout

append links
	link(rel='stylesheet' href=assetsDirectory + '/css/pages/patients.css')
	script(src=assetsDirectory + '/js/patients.js')

block content
	.section.title-section
		h5.page-title
	.section.filters-section
		.dropdowns-wrapper
			.dropdown
				a.btn.btn-dark-red-o.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					| filter
				.dropdown-menu.shadow-lg(aria-labelledby='dropdownMenuLink')
					a.dropdown-item(href='#') age
					a.dropdown-item(href='#') diagnosis
					a.dropdown-item(href='#') triage
			.dropdown
				a.btn.btn-dark-red-o.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					| sort by
				.dropdown-menu.shadow-lg(aria-labelledby='dropdownMenuLink')
					a.dropdown-item(href='#') patient id
					a.dropdown-item(href='#') patient name
					a.dropdown-item(href='#') age
					a.dropdown-item(href='#') date of birth
					a.dropdown-item(href='#') diagnosis
					a.dropdown-item(href='#') triage
		.switch-view-btns
			.btn-group.btn-group-toggle(data-toggle='buttons')
				label.btn.btn-darker-grey-o.active
					input#card-view-btn(type='radio', name='options', checked='')
					i.las.la-th-large
				label.btn.btn-darker-grey-o
					input#table-view-btn(type='radio', name='options')
					i.las.la-list-ul
		.buttons-wrapper.ml-auto
			button.btn.btn-dark-red-f-gr
				i.las.la-plus-circle
				| add a new patient
	.section.patients-card-view
		.row
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src=assetsDirectory + '/images/people.svg' loading='lazy').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p urgent
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src=assetsDirectory + '/images/people.svg' loading='lazy').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p non urgent
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src=assetsDirectory + '/images/people.svg' loading='lazy').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p resuscitation
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src=assetsDirectory + '/images/people.svg' loading='lazy').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p emergency
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src=assetsDirectory + '/images/people.svg' loading='lazy').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p urgent
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src=assetsDirectory + '/images/people.svg' loading='lazy').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p non urgent
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src=assetsDirectory + '/images/people.svg' loading='lazy').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p resuscitation
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src=assetsDirectory + '/images/people.svg' loading='lazy').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p emergency
					.card-footer
	.section.patients-table-view.no-display
		table.table.table-hover.table-responsive-lg
			thead
				tr
					th patient ID
					th patient name
					th age
					th date of birth
					th diagnosis
					th triage
					th
			tbody
				tr
					td 2189178
					td
						img.rounded-circle(src=assetsDirectory + '/images/people.svg' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-orange urgent
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-f
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src=assetsDirectory + '/images/people.svg' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-green non urgent
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-f
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src=assetsDirectory + '/images/people.svg' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-blue resuscitation
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-f
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src=assetsDirectory + '/images/people.svg' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-pink emergency
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-f
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src=assetsDirectory + '/images/people.svg' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-orange urgent
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-f
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src=assetsDirectory + '/images/people.svg' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-green non urgent
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-f
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src=assetsDirectory + '/images/people.svg' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-blue resuscitation
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-f
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src=assetsDirectory + '/images/people.svg' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-pink emergency
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-f
							| view profile
